

header {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: var(--header-height);

    /* padding-left: 1em; */

    background-color: #032D3E;
}

header span#version {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    color: white;
}

header h1 {
    padding: 0;
    margin: 0;

    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);

    font-size: 4vh;
    
}

header img {
    position: absolute;
    top: 50%;
    right: 2%;

    transform: translateY(-50%);

    width: 17vh;
}

header img:hover{
    transition-duration: 1s;
    /* rotate: 360deg; */
}